* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Hero-Regular;
    src: url(../fonts/Hero-Regular.ttf)
}

@font-face {
  font-family: Hero-Light;
  src: url(../fonts/Hero-Light.ttf)
}

@font-face {
  font-family: Hero-Bold;
  src: url(../fonts/Hero-Bold.ttf)
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf)
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf)
}

  body {
    font-family: Poppins-Regular;
  }

  .container {
    min-width: none;
    max-width: 1224px;
    margin: 0 auto;
  }

  .icon {
    width: 24px;
  }

  header {
    padding-top: 40px;
    display: flex;
    flex: 1;
  }

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
  }

  header nav {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header nav ul li {
    display: inline;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }

  header nav li a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
  }

  header nav li a:hover {
    font-weight: bold;
    color: #FF7120;
  }

  .active a {
    color: #FF7120;
    font-weight: bold;
  }

  .active::after {
    content: "•";
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    color: #FF7120;
    font-size: 22px; /* Tamanho do ponto */
  }

  .buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .buttons div {
    margin-left: 10px;
    margin-right: 10px;
  }

  .button-login {
    background-color: #023047;
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    font-size: 14px;
    align-items: center;
  }

  .notifications {
    display: block;
    width: 10px;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    z-index: 2;
    position: absolute;
    margin-left: 12px;
    margin-top: -4px;
  }

/*PRINCIPAL*/
  .principal {
    display: flex;
    background-color: white;
    margin-bottom: 80px;
  }

  h1 {
    font-family: serif;
    font-size: 64px;
    font-weight: bold;
    color: #023047;
  }

  .orange {
    color: #FF7120;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    justify-content: center;
    margin-top: 125px;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cacto {
    position: absolute;
    margin-left: 300px;
    margin-top: 35px;
  }

  .subtitle {
    margin-top: 20px;
    font-size: 18px;
  } 

  form {
    margin-top: 30px;
    display: flex;
  }
  
  form input {
    flex: 3;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    box-shadow: #CCCCCC 0px 1px 20px;
    font-size: 20px;
    margin-right: 10px;
  }

  form button {
    flex: 1;
    background-color: #023047;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    border: none;
    font-size: 24px;

  }

  .pizza {
    position: absolute;
    margin-top: 400px;
    margin-right: 15px;
    z-index: 2;
  }

/* Seções */

.container2 {
  background-color: #F4F4F4;
}

section {
  padding: 50px 0px 50px 0px;
  min-width: none;
  max-width: 1224px;
  margin: 0 auto;
}
.titulo{
  margin-bottom: 67px;
}

h2{
  color: #023047;
  font-size: 36px;
}

.categorias-grid {
  display: flex;
  gap: 98px;
  width: 100%;
}

.categorias-grid div{
  color: #333333;
  width: 166.65px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins-SemiBold;
}

.categorias-grid a{
  font-size: 20px;
  margin-top: 12px;
}

.categorias-grid img{
  cursor: pointer;
}

.categorias-grid img:hover {
  transform: scale(1.1); /* Aumenta a imagem levemente */
  border-radius: 25px;
}
.categoria-mercados img:hover {
  box-shadow: 0px 1px 20px #FF7120;
}
.categoria-lojas img:hover{
  box-shadow: 0px 1px 20px #5ac8fa;
}

.categoria-restaurantes img:hover{
  box-shadow: 0px 1px 20px #5856d6;
}

.categoria-farmacias img:hover{
  box-shadow: 0px 1px 20px #ff2d55;
}

.categoria-bar img:hover{
  box-shadow: 0px 1px 20px #2dff68;
}

/*DESTAQUES*/

.destaques-titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  margin-bottom: 34px;
}

.ver-todos{
  cursor: pointer;
  color: #333333;
  font-size: 20px;
  font-family: Poppins-SemiBold;
}

.destaques-grid {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 146px;
  color: #333333;
  font-family: Poppins-SemiBold;
}

.destaques-grid p{
  font-size: 18px;
  justify-content: center;
  align-items: center;
  line-height: 20.4px;
}

.cartao {
  cursor: pointer;
  width: 350px;
  background-color: white;
  padding: 13px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.nome{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 18px;
}

.avaliacao {
  display: flex; /* Flexbox para alinhar as estrelas e nota */
  margin-bottom: 10px; /* Margem inferior */
  align-items: center;
}

.endereco {
  display: flex; /* Flexbox para alinhar o ícone e o texto */
  font-size: 0.9rem; /* Tamanho de fonte menor */
}

.avaliacao img{
  width: 32px;
  margin-right: 12px;
}

.endereco img{
  width: 43px;
  margin-left: -5px;
  margin-right: 5px;
}

/* Footer */

footer{
  min-width: none;
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  gap: 89px;
}

.footer h3{
  padding-bottom: 17px;
  padding-top: 35px;
  font-size: 20px;
  
}

/*Social*/

.serton img{
  width: 112px
}

.social{
  max-width: 297px;
  font-size: 16px;
  margin-bottom: 50px;
}

.social p{
  padding-top: 11px;
}

.redes{
  display: flex;
  gap: 40px;
}
.redes img{
  padding-top: 44px;
  width: 24px;
  cursor: pointer;
}
/*Sobre*/ 

.sobre{
  display: flex;
  flex-direction: column;
  width: 100px;  
}

.sobre a{
  font-size: 16px;
  padding-bottom: 4px;
  padding-top: 16px;
  text-decoration: none;
  color: #333333;
}

/**/


footer input{
  width: 383px;
  padding: 25px 20px 25px 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  box-shadow: #CCCCCC 0px 1px 20px;
  font-size: 20px;
  margin-right: 10px;
}

.novidades button{
  background-color: #023047;
  color: #ffffff;
  border-radius: 10px;
  padding: 23px 20px 23px 28px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.retangulo{
  background-color: #023047;
  height: 72px;
}
/**/
  @media (max-width: 992px) {

    body {
      padding: 10px;
    }

    section .principal{
      flex-direction: column;
    }

    header nav {
      display: none;
    }
}